 <!DOCTYPE HTML>
<html>
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div> Hello,  {{name}} </div>

<form action="/greeting">
  <input type="hidden" name="name" value="Illia">
  <input type="submit">
</form>


<form action="/greeting">
 Name: <input type="text" name="name"> <br>
<input type="submit">
</form>
</body>
</html>