<html>

<body>

<div>
    <form method="post">
        <input type="text" name="text" placeholder="Insert Message">
        <input type="text" name="tag" placeholder="tag">
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <form method="post" action="filter">
        <input type="text" name="tag" placeholder="Filter messages">
        <button type="submit">Find</button>
    </form>
</div>
<div>Список сообщений</div>
{{#messages}}
    <li>
        <ul><b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i></ul>
    </li>
{{/messages}}

<form method="post" action="delete">
    <button type="submit">Delete all messages</button>
</form>
</body>
</html>